<template>
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-sidebar">    
             <!-- example of avatar image-->
                <li><a>
                  <img src="http://placehold.it/60x60" class="avatar img-responsive">
                </a></li>
              <!-- example of avatar image-->

              <li class="active"><a href="#">Overview</a></li>
              <li><a href="#" target="_ext">Countr</a></li>
              <li><a href="#" target="_ext">Analytics</a></li>
              <li><a href="#" target="_ext">Export</a></li>
            </ul>

            <ul class="nav nav-sidebar">
              <li><a href="">Nav item</a></li>
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
              <li><a href="">More navigation</a></li>
            </ul>

            <ul class="nav nav-sidebar">
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
            </ul>
          
        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">
          
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          
          <h1 class="page-header">
            Dashboard
            <p class="lead">(<a href="#">Lorem Ipsum</a>)</p>
          </h1>
        
        <!--Product-->
          <h2 class="sub-header">Products</h2>
          <div class="panel-body">
          <div class="row">
            <div class="col-xs-2">
             <!--insert external provisional link for img-->
              <img class="img-responsive" src="https://47d4f59a670b56370f23-13ff77f2af58944b598707957650b918.ssl.cf3.rackcdn.com/2016/03/color_tag_H.png">
               <!--//insert external provisional link for img-->
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Product / service</strong></h4><h4><small>Advanced Account(onetime)</small></h4>
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Quantity<span class="quantity">(onetime)</span></strong></h4><h4><small>1</small></h4>
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Price</strong></h4><h4><small>€ 1199.00</small></h4>
            </div>
            <div class="col-xs-4">
              <div class="col-xs-4 text-right">
                <h6><strong>1 <span class="text-muted">x</span></strong></h6>
              </div>
              <div class="col-xs-5">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" aria-label="Text input with radio button">
                </div>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-link btn-xs">
                  <span class="glyphicon glyphicon-trash"> </span>
                </button>
              </div>
            </div>
          </div>
    
          <!--Line separation-->
            <hr>
           <!--Line separation-->

         <div class="row">
            <div class="col-xs-2">
              <!--insert external provisional link for img-->
              <img class="img-responsive" src="https://47d4f59a670b56370f23-13ff77f2af58944b598707957650b918.ssl.cf3.rackcdn.com/2016/03/color_tag_H.png">
              <!--//insert external provisional link for img-->
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Product / service</strong></h4><h4><small>Advanced Account(onetime)</small></h4>
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Quantity<span class="quantity">(onetime)</span></strong></h4><h4><small>1</small></h4>
            </div>
            <div class="col-xs-2">
              <h4 class="product-name"><strong>Price</strong></h4><h4><small>€ 1199.00</small></h4>
            </div>
            <div class="col-xs-4">
              <div class="col-xs-4 text-right">
                <h6><strong>1 <span class="text-muted">x</span></strong></h6>
              </div>
              <div class="col-xs-5">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" aria-label="Text input with radio button">
                </div>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-link btn-xs">
                  <span class="glyphicon glyphicon-trash"> </span>
                </button>
              </div>
            </div>
          </div>
          
          <hr>
          
          <div class="row">
            <div class="text-center">
              <div class="col-xs-9">
                <h6 class="text-right">Added items?</h6>
              </div>
              <div class="col-xs-3">
                <button type="button" class="btn btn-default btn-sm btn-block">
                  Update cart
                </button>
              </div>
            </div>
          </div>

        </div><!--/panel-body-->
      </div><!--/row-->
    </div>
</div><!--/.container-->
    
</template>

<script>
            
</script>

<style>
    #sidebar {
        border-right: 1px solid #e7e7e7;
        border-top: 1px solid #e7e7e7;
    }
    .quantity {
      font-size: 10px;
    }
</style>