<template>
	<footer class="footer">
		<div class="panel-footer">
			Test <br>Marco Amodio 2017
		</div>
    </footer>    
</template>

<script>

</script>

<style>
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
	
</style>