<template>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <!-- line separation -->
        <hr class="my-4">
      <!-- line separation -->

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="/#/Signin" role="button">Sign in</a>
    </p>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
