<template>
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="text-center">Login</h3>
			  </div>

			  <div class="panel-body">
				  <div class="form-group" :class="{'has-error': errors.has('email') }">
					<input type="email" class="form-control" v-model="email" placeholder="Email">
				  </div>
				  <div class="form-group">
					<input type="password" class="form-control" v-model="password" placeholder="Password">
				  </div>
				<hr>
				<button type="button" class="btn btn-lg btn-primary btn-block">Login !</button>
			 </div>
		</div>	
	</div>
</template>

<script>
	export default {
		data(){
			return{
				  email : '',
				  password: ''
				}
		},

		// methods: {
		// 	test () {
		// 		this.$http.get("https://api.countr.rest/")
		// 		.then(function (response) {
		// 			console.log(response)
		// 		})
		// 	}
		// }
	}
	
</script>

<style>

</style>