<template>
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="text-center">Sign In</h3>
			  </div>
			  <div class="panel-body">
				  <div class="form-group">
					<input type="text" class="form-control" v-model="name" placeholder="Name">
				  </div>
				  <div class="form-group">
					<input type="email" class="form-control" v-model="email" placeholder="Email">
				  </div>
				  <div class="form-group">
					<input type="password" class="form-control" v-model="password" placeholder="Password">
				  </div>
				<!-- line separation --> 
				<hr>
				<!-- line separation --> 
				<button type="button" class="btn btn-lg btn-primary btn-block">Sign In !</button>
			 </div>
		</div>	
	</div>
</template>

<script>
	export default {
		data(){
			return{
				  name : '',
				  email : '',
				  password: ''
				}
		}
	}
	
</script>

<style>

</style>