<template>
  <div id="app">
    <navbar></navbar>
    <router-view></router-view>
    <app-footer></app-footer>
  </div>
</template>

<script>

// call the components 
import Navbar from './components/Navbar.vue'
import Hello from './components/Hello.vue'
import Signin from './components/authentication/Signin.vue'
import Login from './components/authentication/Login.vue'
import Footer from './components/Footer.vue'

  export default {
      components: {
        'navbar': Navbar,
        'signin': Signin,
        'hello': Hello,
        'login': Login,
        'app-footer': Footer
      }
  }

</script>

<style>

</style>
